form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
form>input{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-radius: 10px;
    border-bottom: 1px solid;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
