.main-section-tasks{
    position: relative;
    width: 100%;
    text-align: center;
    background: rgba(144, 200, 238, 0.5);
    border-radius: 20px;
}
.name-of-tasks-in-tabble{
    display: grid;
    grid-template-columns: 10% 10% 20% 10% 10% 30% 10%;
    width: 100%;
}
.name-of-tasks-in-tabble>p{
    font-size: 14px;
}