.task-row{
    display: grid;
    grid-template-columns: 10% 10% 20% 10% 10% 30% 10%;
    width: 100%;
}
.simple-task{
    font-weight: bold;
    color: #034479;
    transition: 0.5s;
}
.impornant-task{
    color:#f44336;
    transition: 0.5s;
    font-weight: bold;
}
.impornant-task:hover{
    color:#2293ef;
    cursor: pointer;

}
.simple-task:hover{
    color: #2293ef;
    cursor: pointer;
}
a{
    text-decoration: none;
}
