.backGround{
    width: 100%;
    background: url(https://img.tsn.ua/cached/1533908617/tsn-8c5f6b23d1211bb14030cc3abd4583f7/thumbs/1200x630/a0/65/b19fbde2d5477daa9cb04793f69365a0.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 98vh;
    padding-bottom: 10px;
}